@media (min-width: 60em) {
    .header{
        position: sticky;
        top: 0;
        left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: var(--branco);
    }

    .logo{
        margin-top: 0;
    }

    .navegacao{
        max-width: fit-content;
    }

    .lista-navegacao{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .lista-navegacao li{
        margin: 0 1rem;
    }

    .lista-navegacao li a{
        background-color: transparent;
        color: var(--roxo);
        font-weight: 500;
        font-size: 2rem;
        padding-inline: 2rem;
    }

    .lista-navegacao li a:hover{
        background-color: var(--roxo);
        color: var(--branco);
    }

    .descubra{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        height: 80vh;
        background-image: url(../Public/Images/Panoramico-de-Uberaba.png);
        background-size: cover;
        justify-content: end;
        color: var(--branco);
        padding: 2rem 4rem;
    }

    .play{
        display: inline-block;
        width: 8rem;
        margin: 0 auto;
    }

    .titulo-descubra, .slogan-hotel{
        color: inherit;
    }

    .titulo-descubra{
        font-size: 4rem;
        text-shadow: -5px 5px 10px black;
    }

    .slogan-hotel{
        font-size: 2rem;
        text-shadow: -4px 4px 5px black;
    }

    .descubra-mais{
        font-size: 1.5rem;
        margin: 1rem auto;
        padding: 1rem 2rem;
        text-shadow: -2px 2px 5px black;
    }

    .informacoes{
        display: flex;
        justify-content: space-evenly;
    }

    .cartao-informacoes{
        max-width: 25rem;
    }

    .sobre-hotel{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .sobre{
        max-width: 25rem;
    }

    .localizacao{
        padding: 2rem;
    }

    .pontos-turisticos{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .pontos-titulo{
        width: 100%;
    }

    .pontos-cartao{
        min-width: 25rem;
        max-height: 30rem;
    }
}