@media (min-width: 60em) {
    .header {
        max-width: 100dvw;
        position: sticky;
        top: 0;
        left: 0;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        width: 20%;
        margin: 0;
    }

    .navegacao {
        flex-direction: row;
        width: 100dvw;
    }

    .navegacao a{
        padding: 3% 3%;
        font-size: 2rem;
        display: flex;
        align-items: center;
        background-color: transparent;
        color: var(--roxo);
        font-weight: 600;
    }

    .navegacao a:hover {
        background-color: var(--roxo);
        color: var(--branco);
    }

    .descubra{
        background-image: url(../Public/Images/Panoramico-de-Uberaba.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0 2% 2%;
        height: 50rem;
        justify-content: end;
    }

    .play{
        display: block;
        width: 10%;
    }

    .titulo-descubra{
        font-size: 3rem;
        color: var(--branco);
        text-shadow: -.4% .3% .4% var(--preto);
    }

    .slogan-hotel{
        font-size: 1.5rem;
        color: var(--branco);
        text-shadow: -.4% .3% .4% var(--preto);
    }

    .descubra-mais{
        padding: 2% 5%;
        font-size: 1.5rem;
    }

    .informacoes{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 5%;
        background-color: var(--cinza-claro);
    }

    .cartao-informacoes{
        margin: 2% 0 0;
        width: 15%;
    }

    .cartao-icone{
        width: 3rem;
    }

    .cartao-titulo{
        font-size: 1.5rem;
    }

    .cartao-paragrafo{
        font-size: 1em;
        padding: 0;
    }

    .sobre-hotel{
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sobre{
        margin: 0;
        width: 20%;
    }

    .sobre-titulo{
        font-size: 2%;
        margin: .5% 0;
    }

    .sobre-detalhes{
        font-size: 1%;
        margin: 0;
        text-align: justify;
    }

    .localizacao{
        height: 40%;
    }

    .pontos-turisticos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .pontos-titulo{
        font-size: 5%;
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .pontos-cartao{
        width: 30%;
        margin: 0;
    }

    .ponto-titulo{
        font-size: 3%;
        margin: 0;
        text-align: center;
    }

    .ponto-descricao{
        font-size: 2%;
        margin: .1% 0 0;
        text-align: center;
    }

    .foot{
        height: 6%;
        font-size: 2%;
    }

}